# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual envs
.venv/
venv/
ENV/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Caches / logs
*.log
.cache/
.mypy_cache/
.pytest_cache/

# Flask instance folder
instance/
